@model List<ViewDocumentsViewModel>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "View Uploads";
    var requestid = ViewBag.Requestid;
}
@section Scripts{
    <script>
        function SelectAll() {
            let checkboxes = document.querySelectorAll(".checkBox");
            console.log("select all ");
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = document.getElementById('allCheck').checked;
            });
        }
        document.querySelectorAll('.checkBox').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                let checkboxes = document.querySelectorAll(".checkBox");
                let selectAllCheckbox = document.getElementById('allCheck');
                selectAllCheckbox.checked = Array.from(checkboxes).every(checkbox => checkbox.checked);
            });
        });
        function DownloadAll() {

            var checkboxes = document.querySelectorAll('.checkBox:checked');
            if (checkboxes.length != 0) {
                checkboxes.forEach(function (checkbox) {
                    var filename = checkbox.value;
                    var downloadURL = '/uploads/' + filename;
                    var link = document.getElementById('downloadLink');
                    link.setAttribute('href', downloadURL);
                    //link.download = filename;
                    link.click();
                });
            }

        }
        function DeleteAll() {
            var checkboxes = document.querySelectorAll('.checkBox:checked');
            if (checkboxes.length != 0) {
                checkboxes.forEach(function (checkbox) {
                    var filename = checkbox.value;
                    deleteFile(filename, @requestid);
                });
            }
        }

        function deleteFile(filename, requestid) {
            var dataToSend = {
                filename: filename,
                requestid: requestid
            };
            $.ajax({
                type: "POST",
                url: "/Admin/DeleteFile",
                data: dataToSend,
                success: function (response) {
                    if (response.success) {
                        window.location.href='@Url.Action("ViewUploads","Admin",new{requestid = requestid})';
                    }
                    else {
                        alert(response.message);
                        window.location.href = '@Url.Action("ViewUploads","Admin",new{requestid = requestid})';


                    }
                },
                error: function (response) {
                    alert("Error deleting file");
                }
            });
        }
        function SendEmail(requestid){
            var files = [];
            var checkboxes = document.querySelectorAll('.checkBox:checked');
            if (checkboxes.length != 0) {
                checkboxes.forEach(function (checkbox) {
                    var filename = checkbox.value;
                    files.push(filename);
                });
            }
            $.ajax({
                type:"POST",
                url: "/Admin/SendDocuments",
                data: { files:files,
                        requestid:requestid},
                success: function (response) {
                    alert("Email Sent Successfully");
                },
                error: function (xhr, status, error) {
                    console.error('Error sending mail:', error);
                }
            });
        }
    </script>
}
<div class="container-fluid rounded mx-3 mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-10 d-inline-flex justify-content-between">
            <div class="d-flex">
                <h3 class="h3 mt-3">Documents</h3>
            </div>
            <div class="d-flex">
                <button class="btn btn-outline-info my-3 ms-auto backBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor" class="bi bi-chevron-left fw-medium mb-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>Back
                </button>
            </div>
        </div>
    </div>
    <div class="row rounded justify-content-center">
        <div class="col-md-8 col-10 rounded" style=" box-shadow: 2px 2px 20px rgb(179, 177, 177)">
            <small class="mx-2 mt-3 mb-2">Patient Name</small>
            <div><span class="text-info fs-5 m-2">@ViewBag.PatientName</span><small>(@ViewBag.ConfNum)</small></div>
            <div><small class="m-2">Check here for any files that you or the doctors or your subsequesnt requestors have attached for you to review.</small></div>
            <form enctype="multipart/form-data" method="post" asp-action="UploadFile" asp-route-requestid="@requestid">
                <div class="d-flex rounded my-3 mx-2">
                    <label for="fileUpload" class="col d-flex rounded">
                        <span id="infoArea" class="col bg-white rounded p-1 pt-2 ps-3 text-muted border">Select File</span>
                        <input type="file" class="form-control-file" id="fileUpload" name="files" hidden onchange="showFileName()">
                    </label>
                    <div id="btn" class="p-1 btn btn-info" onclick="">

                        
                        <button class="ps-1 btn btn-info text-white d-sm-inline d-none" type="submit"><i class="bi bi-cloud-arrow-up text-white ms-1"></i> Upload</button>
                        <button class="ps-1 btn btn-info text-white d-sm-none d-inline" type="submit"><i class="bi bi-cloud-arrow-up text-white ms-1"></i></button>

                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-between">
                <div class="">
                    <h5 class="h5 mt-3">Documents</h5>
                </div>
                <div class="">
                    <button class="btn btn-outline-info d-none d-sm-inline" id="downloadAll" onclick="DownloadAll()">
                        Download All
                    </button>
                    <button class="btn btn-outline-info d-sm-none d-inline" id="downloadAll" onclick="DownloadAll()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708z" />
                            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                        </svg>
                    </button>
                    <button class="btn btn-outline-info d-none d-sm-inline" onclick="DeleteAll()">
                        Delete All
                    </button>
                    <button class="btn btn-outline-info d-sm-none d-inline" onclick="DeleteAll()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                        </svg>
                    </button>
                    <button class="btn btn-outline-info d-none d-sm-inline" onclick="SendEmail('@requestid')">
                        Send Mail
                    </button>
                    <button class="btn btn-outline-info d-sm-none d-inline" onclick="SendEmail('@requestid')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
                            <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                        </svg>
                    </button>
                </div>

            </div>
            <table class="m-2 table table-responsive">
                <colgroup>
                    <col span="1" style="width: 8%;">
                    <col span="1" style="width: 23%;">
                    <col span="1" style="width: 23%;">
                    <col span="1" style="width: 23%;">
                    <col span="1" style="width: 23%;">

                </colgroup>
                <tbody>
                    <tr class="bg-secondary-subtle">
                        <th scope="col">
                            <input type="checkbox" onchange="SelectAll()" id="allCheck" />
                        </th>
                        <th scope="col">    </th>
                        <th scope="col">Uploader</th>
                        <th scope="col">Uploaded date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" class="checkBox" value="@item.Filename" /></td>
                            <td>@item.Filename.Substring(item.Filename.IndexOf('_')+1)</td>
                            <td>@item.UploaderName</td>
                            <td>@item.CreatedDate</td>
                            <td>
                                <a class="btn btn-outline-info mb-2" id="downloadLink" href="/uploads/@item.Filename" download>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#10bce9" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                        <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                    </svg>
                                </a>
                                <button class="btn btn-outline-info mb-2" onclick="deleteFile('@item.Filename','@requestid')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>

        </div>
    </div>
</div>
