@using Microsoft.AspNetCore.Http
@model List<MedicalHistoryViewModel>
@{
    ViewData["Title"] = "Patient Dashboard";
    Layout = "_PatientLayout";
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    @if (TempData["Login"] != null)
    {
        <script>
            toastr.success('@TempData["Login"]');

        </script>
    }
    <script>
            function ViewDocument(requestid) {
                var xhr = new XMLHttpRequest();
            xhr.open('GET', '@Url.Action("_ViewDocumentsPartial", "Patient")'+'?f=' + requestid.toString(), true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('viewDocumentPage').innerHTML = xhr.responseText;
                    document.getElementById('patientRequests').style.display = 'none';
                    document.getElementById('viewDocumentPage').style.display = 'block';
                    } else {
                        // Handle error or other states if needed
                    }
                };
                xhr.send();
            }

            function ShowRequestsPage() {

            var patientRequests = document.getElementById('patientRequests');
            patientRequests.style.display = 'block';
            document.getElementById('viewDocumentPage').style.display = 'none';

            }

        // var downloadAll = document.getElementById("downloadAll");
        // if (downloadAll) {
        //     downloadAll.addEventListener('click', function () {
        //         var checkboxes = document.querySelectorAll('input[name="file"]:checked');
        //         if (checkboxes.length != 0) {
        //             console.log(checkboxes.length);
        //             checkboxes.forEach(function (checkbox) {
        //                 var filename = checkbox.value;
        //                 var downloadURL = '/uploads/' + filename;
        //                 console.log(downloadURL);
        //                 var link = document.getElementById('downloadLink');
        //                 link.setAttribute('href', downloadURL);
        //                 link.click();
        //             });
        //         }
        //     });
        // }

    </script>    
}
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bg-info" id="exampleModalCenterTitle">Create New Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Here, I want tp create request for
                <button class="btn btn-info">Me</button>
                <button class="btn btn-outline-info">Someone Else</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="formdiv">
    <ul class="nav nav-tabs border-0" id="myTab" role="tablist" style="box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3)">
        <li class="nav-item" role="presentation">
            <button class="nav-link tabs active" style="color:black" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link tabs" style="color:black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Profile</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade pt-2 active show" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="patientRequests">
            <div class="container-fluid rounded  mt-4 " >
                <h3 class="h3 mb-3">Medical History</h3>
                <div class="rounded" style="width:auto; box-shadow: 2px 2px 20px rgb(179, 177, 177)">
                        <div class=" d-flex justify-content-end"><button class="btn btn-outline-info my-3" data-toggle="modal" data-target="#exampleModalCenter" id="btnTrigger">Create New Request</button></div>
                    <div style="">
                            <table class="table table-responsive">
                            <tbody>
                                <tr class="bg-light">
                                    <th scope="col">Created Date</th>
                                    <th scope="col">Current Status</th>
                                    <th scope="col">Documents</th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                      
                                    <tr>
                                            <td class="my-auto">@item.CreatedDate</td>
                                            <td class="my-auto">@item.Status</td>
                                        @if (item.DocumentCount > 0){
                                       
                                             <td>
                                                    <button class="btn btn-outline-info me-2" id="documentBtn" onclick="ViewDocument('@item.requestid')" style="width:30%;height: 30%">
                                                   (@item.DocumentCount)Documents
                                                   </button>
                                             </td>
                                        }
                                        else
                                        {
                                            <td>       </td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div id="viewDocumentPage"></div>
        </div>
        <div class="tab-pane fade pt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            @Html.Partial("_ProfilePartial", new PatientRequestViewModel{ Email=ViewBag.Email})
        </div>
    </div>
</div>